.app{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light{
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 20%;
  display: flex;        
  justify-content: center; /* 水平居中 */
  align-items: center;  /* 垂直居中 */
  padding: 2px;        /* 防止内容紧贴边缘 */
  box-sizing: border-box; /* 包括padding在内的宽高计算 */
}
  
.light:hover {
  transform: translateY(-5px); /* 鼠标悬停时上移 */
}
.red{
  animation: just1 0.5s ease-in-out infinite alternate;
}
.green{
  animation: just2 4s ease-in-out infinite alternate;
}
.yellow{
  animation: just3 2s ease-in-out infinite alternate;
}

@keyframes just1{
  0%{
    border: 5px solid rgba(255,0,0,0);
    box-shadow: 0 0 0 rgba(255,0,0,0),0 0 0 rgba(255,0,0,0) inset;
  }
  100%{
    border: 5px solid rgba(255,0,0,1);
    box-shadow: 0 0 70px rgba(255,0,0,0.7),0 0 15px rgba(255,0,0,0.5) inset;
  }
}
@keyframes just2{
  0%{
    border: 5px solid rgba(0,255,0,0);
    box-shadow: 0 0 0 rgba(0,255,0,0),0 0 0 rgba(0,255,0,0) inset;
  }
  100%{
    border: 5px solid rgba(0,255,0,1);
    box-shadow: 0 0 70px rgba(0,255,0,0.7),0 0 15px rgba(0,255,0,0.5) inset;
  }
}
@keyframes just3{
  0%{
    border: 5px solid rgba(0,0,255,0);
    box-shadow: 0 0 0 rgba(0,0,255,0),0 0 0 rgba(0,0,255,0) inset;
  }
  100%{
    border: 5px solid rgb(255, 251, 0);
    box-shadow: 0 0 70px rgba(255,251, 0,0.7),0 0 15px rgba(255,251,0,0.5) inset;
  }
}

.right-half {
  display: flex;
  justify-content: flex-end;
  width: 100%; 
}

.right-half > .ant-row {
  width: 95%; /* 使Row只占据其容器的一部分宽度 */
}


.artistic-text {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* 可以选择任何合适的字体 */
  color: white; /* 文字颜色 */
  max-width: 100%; 
  word-wrap: break-word;
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),  /* 外发光 */
               0 0 20px rgba(255, 255, 255, 0.6),  /* 更大范围的发光 */
               0 0 30px rgba(255, 255, 255, 0.4),  /* 更大范围的发光 */
               0 0 40px rgba(255, 255, 255, 0.2);  /* 最大范围的发光 */
}

.display-pagination-container  .ant-pagination-item,
.display-pagination-container  .ant-pagination-item-link {
  color: white !important; 
  border-color: white !important; 
}

.display-pagination-container  .ant-pagination-item,
.display-pagination-container  .ant-pagination-item-active {
  background: aliceblue !important; 
  border-color: white !important; 
} 

.display-pagination-container  .ant-pagination-item-link:hover {
  background: rgb(180, 219, 251) !important; 
  border-color: white !important; 
}

.breathing-light-selector {
  background-color: #000 !important; /* 黑色背景 */
}

.breathing-light-selector .ant-select-selector {
  background-color: #000 !important; /* 确保下拉选择器也有同样的背景色 */
  color: #fff !important; /* 设置文本颜色为白色以保证可读性 */
}