/* 水平布局 */
.content-box{
    display: flex;
    justify-self: space-between;
    align-items: center;
    justify-content: 'flex-start';
    background-color: white;
    margin: 20px; 
    padding: 20px; 
    border-radius: 15px; 
    border: 1px solid #ccc; /* 边框颜色和宽度 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加阴影效果 */
    position: relative;
}
/* 垂直布局 */
.content-box-vertical{
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    align-items: left;
    justify-content: 'flex-start';
    background-color: white;
    margin: 20px; 
    padding: 20px; 
    border-radius: 15px; 
    border: 1px solid #ccc; /* 边框颜色和宽度 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加阴影效果 */

    position: relative;
}

/* 没有背景的水平context */
.content-box-no-bg{
    display: flex;
    justify-self: space-between;
    align-items: center;
    justify-content: 'flex-start';
    margin: 5px; 
    padding: 5px; 
    border-radius: 15px; 
    position: relative;
}

